@using WebApplication1.Models.UserEdit;
@model User
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>@ViewBag.Title</h3>

<form method="post">
    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Họ tên</label>
        <input asp-for="FullName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Trạng thái</label>
        <select asp-for="IsActive" class="form-select">
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>
