@using WebApplication1.Models.UserEdit

@model WishListItem
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Thêm WishList</h3>

<form method="post">
    <div class="mb-3">
        <label>User</label>
        <select asp-for="UserId" asp-items="ViewBag.Users" class="form-select"></select>
    </div>

    <div class="mb-3">
        <label>Sản phẩm</label>
        <select asp-for="ProductId" asp-items="ViewBag.Products" class="form-select"></select>
    </div>

    <button type="submit" class="btn btn-success">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>
